header {   /*여기어때 홈페이지 상단의 빨간색 부분*/
    width: 100%;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    justify-content: space-around;
    height: 80px;
    background-color: #f7323f;
}


.Header_left {  /*왼쪽 상단 여기어때.*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffffff;
  font-size: 30px;
  font-weight: bolder; 
  width: auto;
  height: auto;

} 

.Header_right { /*오른쪽 상단*/
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: auto;

}


.Header_right Ul {  /*오른쪽 글씨들의 집합*/
    display: flex;
    width: auto;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

.Header_right li {  /*오른쪽 상단의 글씨들 li*/
    color: #FFFFFFCC;
    width: auto;
}

.Header_right img {   /*오른쪽 상단의 돋보기 이미지*/
    width: 30px;
    height: 30px;
}

.Header_right span { /*오른쪽 상단의 글씨들 */
    text-align: center;
    width: auto;
    margin-left: 30px;
}
